[maxscale]
threads=###threads###

###server_definitions###
###mariadb_monitor###
###rwsplit_service###
filters=WCAR|WCAR-Size-Limit|WCAR-Time-Limit
###rwsplit_listener###

[WCAR]
type=filter
module=wcar

[WCAR-Size-Limit]
type=filter
module=wcar
capture_size=1Mi

[WCAR-Time-Limit]
type=filter
module=wcar
capture_duration=10s
