[maxscale]
threads=###threads###
load_persisted_configs=false

###server###

[Monitor]
type=monitor
module=mariadbmon
servers=server1, server2
user=maxskysql
password=skysql

[MyService]
type=service
router=readwritesplit
user=maxskysql
password=skysql
servers=server1, server2

[MyService-Listener]
type=listener
service=MyService
protocol=mariadbclient
port=4006
